@import url('reset.css');
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
/* 
font-family: "Montserrat", sans-serif;
font-family: 'SCoreDream';
*/

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#fff, #1C1C1C);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
body{
    position:relative;
    overflow-x:hidden;
    color:#1C1C1C;
}

/* ------------------------- HEADER ---------------------- */
header{
    position:fixed;
    top:0; left:0; right:0;
    z-index:999;
    padding:20px 50px;
    font-family: "Montserrat", sans-serif;
    display:flex;
    justify-content:space-between;
}
header h1{
    text-transform:uppercase;
    font-size:42px;
    font-weight:800;
}
header h1 a{
    color:#1C1C1C;
}
header .hamburger{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    cursor:pointer;
}
header .hamburger span{
    width:30px;
    height:1px;
    background:#1C1C1C;
}
header .hamburger.open{
    z-index:9999;
}
header .hamburger.open span{
    background:#fff;
    transition:.5s;
}
header .hamburger.open span:nth-child(1){
    transform:rotate(-45deg);
    transform-origin:100% 0;
    width:32px;
}
header .hamburger.open span:nth-child(2){
    opacity:0;
}
header .hamburger.open span:nth-child(3){
    transform:rotate(45deg);
    transform-origin:100% 100%;
    width:32px;
}
header aside{
    position:absolute;
    top:0;
    left:100%;
    transform:translateY(-100%);
    background:rgba(28,28,28,.8);
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.5s;
}
header aside.open{
    left:0;
    transform:translateY(0);
}
header aside ul li{
    text-align:center;
}
header aside ul a{
    text-transform:uppercase;
    font-size:70px;
    font-weight:900;
    color:#FCFCFC;
    padding:0 30px;
}
header aside ul li + li{
    margin-top:30px;
}